*::before, *::after{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #222222;
}

.moon{
    display: flex;
    align-items: center;
    height: 300px;
    width: 300px;
    background: 
    radial-gradient(circle at 35% 15%, #AAAAAA 5%, #FFFFFF 0%, #CCCCCC 0%, #CCCCCC 0%) 64% 7%/10em 10em, 
    radial-gradient(circle at 30% 25%, #AAAAAA 5%, #FFFFFF 0%, #CCCCCC 0%, #CCCCCC 0%) 22% 24%/7em 7em,
    radial-gradient(circle at 35% 55%, #AAAAAA 5%, #FFFFFF 0%, #CCCCCC 0%, #CCCCCC 0%) 14% 57%/10em 10em,
    radial-gradient(circle at 90% 60%, #AAAAAA 5%, #FFFFFF 0%, #CCCCCC 0%, #CCCCCC 0%) 32% 65%/10em 10em,
    radial-gradient(circle at 90% 70%, #AAAAAA 5%, #FFFFFF 0%, #CCCCCC 0%, #CCCCCC 0%) 54% 54%/10em 10em;
    background-repeat: no-repeat;
    background-color: #CCCCCC;
    margin: calc(50vh - 150px) calc(50vw - 150px);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100% ;
    box-shadow: inset -35px -45px 0 0 #B7B7B7;
}

.moon::before{
    width: 70px;
    height: 70px;
    left: 80%;
    margin-left: -100px;
    background-color: #FFFFFF;
    border-color: aqua;
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
    content: "";
    animation: circle 0.5s ease-in-out infinite;

}